<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Adventure Lookup{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/styles.css') }}?v=2">
        {% block stylesheets %}{% endblock %}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" href="{{ asset('favicon-32x32.png') }}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{ asset('favicon-16x16.png') }}" sizes="16x16">
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#f9e144">
        <meta name="theme-color" content="#ffffff">
        <script src="https://use.fontawesome.com/8bb52fe553.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" role="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Adventure Lookup</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link{% if app.request.attributes.get('_route') == 'adventure_index' %} active{% endif %}" href="{{ path('adventure_index') }}">Adventures</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'audit' %} active{% endif %}" href="{{ path('audit') }}">Recent Activity</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_CURATOR') %}
                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'easyadmin' %} active{% endif %}" href="{{ path('easyadmin') }}">Admin Panel</a>
                        </li>
                    {% endif %}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'profile' %} active{% endif %}" href="{{ path('profile') }}">Your Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'logout' %} active{% endif %}" href="{{ path('logout') }}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link{% if app.request.attributes.get('_route') == 'login' %} active{% endif %}" href="{{ path('login') }}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                {#
                <form class="form-inline" action="{{ url('adventure_index') }}#search-results" method="get">
                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="An adventure including..." value="{{ app.request.query.get('q', '') }}">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" role="button">Search</button>
                </form>
                #}
            </div>
        </nav>

        {% if app.session.flashbag.peekAll is not empty %}
            <div class="container mb-4 mt-3">
                <div class="row">
                    <div class="col">
                        {% for label, messages in app.session.flashbag.all %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% block body %}{% endblock %}

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col text-right">
                        <hr />
                        <p>Natural 20! Made by <a href="https://github.com/cmfcmf">@cmfcmf.</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ asset('assets/main.js') }}?v=2"></script>
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'prod' and google_analytics_code is not empty %}
            <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', '{{ google_analytics_code }}', 'auto');
                ga('send', 'pageview');
            </script>
        {% endif %}
    </body>
</html>
